$logo-blue: #2b2d42;
$text-color: #4d4d4d;
$logo-red: #d41f27;
$black: #282828;
$border-light: #f1f1f1;
$product-title-color: #909090;
$light-blue: #2b2e43;
$extreme-light-blue: #3b3d56;
$footer-text: #adadad;
$fb: #3b5998;
$twiter: #55acee;
$insta: #3f729b;
$youtube: #cd201f;
$light-gray: #a7a7a7;
$golden: #facf19;

$facebook-color: #4267b2;
$twitter-color: #00acee;
$linkedin-color: #0072b1;
$pinterest-color: #c8232c;
$instagram: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
$google:#DB4437;